BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

DATABASE_URL=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

POLAR_ACCESS_TOKEN=""
POLAR_ORG_SLUG=""

INSTAGRAM_CLIENT_ID=""
INSTAGRAM_CLIENT_SECRET=""
NEXT_PUBLIC_APP_URL=""

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

GOOGLE_GENERATIVE_AI_API_KEY=""

NODE_ENV="development"

SENTRY_AUTH_TOKEN=""
SENTRY_DSN=""

WAITLIST_API_TOKEN=""